.eye {
	position: fixed;
	top: 5rem;
	right: 0;
}

.eye .sharp {
	background-image: url("../../assets/eye-circle-outline.svg");
	appearance: none;
	width: 2rem;
	height: 2rem;
}

.eye .sharp:checked {
	background-image: url("../../assets/eye-circle.svg");
}

.eye .theme-toggle {
	position: absolute;
	top: 3rem;
	left: 125%;
	transition: transform 0.33s;
}

.eye .sharp:checked ~ .theme-toggle {
	transform: translateX(-125%);
}
